body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}
.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}
.main {
  min-height: 100vh;
  grid-column: span 4 / span 4;
  padding: 80px 100px;
}
.outbox {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.nav {
  background-color: #e9e7e9;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
.nav-content {
  margin-left: 20px;
}

.box {
  margin: 4px;
  border-radius: 12px;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 28px;
}
.job {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 28px;
}
.list {
  margin-bottom: 28px;
}
.list a {
  display: block;
  color: #999999;
  padding: 6px;
}
a.active {
  font-weight: 500;
  color: black;
}

/* https://codepen.io/codeams/pen/YzWvjq */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
.bounceIn {
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@media (max-width: 1080px) {
  .nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 910px) {
  .nav {
    background-color: rgba(0, 0, 0, 0);
  }
  .title {
    font-size: 20px;
  }
  .job {
    font-size: 16px;
  }
  .nav {
    padding-left: 15px;
    padding-right: 15px;
  }
  .list {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  .main {
    padding: 20px 20px;
  }
}
